.galContainer {
    margin: 10px;
    border-radius: 10px;
    background-color: #f1f1f1;
    max-width: 95vw;
    /*max-height: 200vh;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.imgBox {
    max-width: 200px;
    padding: 10px;
    border-radius: 20px;

}